<!DOCTYPE html>
<html lang="en" ng-app="listaTelefonica">
<head>
    <meta charset="UTF-8">
    <title>Lista Telefonica</title>
    <script src="lib/angular/angular.js"></script>
    <script src="lib/angular/angular-messages.js"></script>
    <script src="lib/angular/angular-locale_pt-br.js"></script>
    <script src="js/controllers/listaTelefonicaController.js"></script>
    <script src="js/services/contatosAPIService.js"></script>
    <script src="js/services/operadorasAPIService.js"></script>
    <script src="js/value/configValue.js"></script>
    <script src="js/filters/nameFilter.js"></script>
    <script src="js/filters/ellipsisFilter.js"></script>
    <script src="js/directives/uiAlertDirective.js"></script>
    <script src="js/directives/uiDateDirective.js"></script>
    <script src="js/directives/uiAccordionDirective.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/ui.css">
</head>
<body ng-controller="listaTelefonicaController">
    <div class="jumbotron">

        <ui-accordions>
            <ui-accordion title="Acoordion 1">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quaerat recusandae rerum similique, mollitia atque odit accusantium, numquam soluta ipsum aspernatur officiis excepturi harum nihil. Porro quasi pariatur et inventore. Quibusdam quas doloremque vel commodi iure doloribus expedita quasi magni voluptas!
            </ui-accordion>
            <ui-accordion title="Acoordion 2">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quaerat recusandae rerum similique, mollitia atque odit accusantium, numquam soluta ipsum aspernatur officiis excepturi harum nihil. Porro quasi pariatur et inventore. Quibusdam quas doloremque vel commodi iure doloribus expedita quasi magni voluptas!
            </ui-accordion>
        </ui-accordions>

        <h4>{{app}}</h4>
        {{error}}
        <input class="form-control" type="text" ng-model="critedioDeBusca" placeholder="O que você esta procurando?">
        <table class="table table-striped" ng-show="contatos.length > 0">
            <tr>
                <th></th>
                <th><a href="" ng-click="ordernarPor('nome')">Nome</a></th>
                <th><a href="" ng-click="ordernarPor('telefone')">Telefone</a></th>
                <th><a href="" ng-click="ordernarPor('operadora')">Operadora</a></th>
                <th><a href="" ng-click="ordernarPor('data')">Data</a></th>
                <th></th>
            </tr>
            <tr ng-repeat="contato in contatos | filter:critedioDeBusca | orderBy:criterioDeOrdenacao:direcaoDaOrdenacao" ng-class="{selecionado: contato.selecionado}">
                <td><input type="checkbox" ng-model="contato.selecionado"></td>
                <td>{{contato.nome | name | ellipsis:15}}</td>
                <td>{{contato.telefone}}</td>
                <td>{{contato.operadora.nome}}</td>
                <td>{{contato.data | date: 'dd/MM/yyyy HH:mm'}}</td>
                <td><div style="width: 20px; height: 20px;" ng-style="{'background-color': contato.cor}"></div></td>
            </tr>
        </table>
        <hr/>

        <form name="contatoForm">
            <input class="form-control form" type="text" ng-model="contato.nome" placeholder="Nome" name="nome" ng-required="true" ng-minlength="10">
            <input class="form-control form" type="text" ng-model="contato.telefone" placeholder="Telefone" name="telefone" ng-required="true" ng-pattern="/^\d{4,5}-\d{4}$/">
            {{contato.data}}
            <input class="form-control form" type="text" ng-model="contato.data" name="data" placeholder="Data" ui-date>
            <select class="form-control form" ng-model="contato.operadora" ng-options="operadora.nome + ' ('+ (operadora.preco | currency) +')' group by operadora.categoria for operadora in operadoras | orderBy:'nome'">
                <option value="">Selecione uma operadora</option>
            </select>
        </form>

        <!-- <div ng-messages="contatoForm.nome.$error">
            <div class="alert alert-danger" role="alert" >
                <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                <span class="sr-only">Error:</span>
                <div ng-message="required" ng-show="contatoForm.telefone.$dirty">
                    Por favor, preencha o nome!
                </div>
                <div ng-message="minlength">
                    O campo deve ter no mínimo 10 caracteres.
                </div>
            </div>
        </div> -->

        <div class="alert alert-danger" role="alert" ng-show="contatoForm.nome.$error.required && contatoForm.nome.$dirty">
            <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
            <span class="sr-only">Error:</span>
            Por favor, preencha o nome!
        </div>
        <div class="alert alert-danger" role="alert" ng-show="contatoForm.nome.$error.minlength">
            <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
            <span class="sr-only">Error:</span>
            O nome deve ter mais de 10 caracteres.
        </div>

        <div class="alert alert-danger" role="alert" ng-show="contatoForm.telefone.$error.required && contatoForm.telefone.$dirty">
            <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
            <span class="sr-only">Error:</span>
            Por favor, preencha o telefone!
        </div>
        <div class="alert alert-danger" role="alert" ng-show="contatoForm.telefone.$error.pattern">
            <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
            <span class="sr-only">Error:</span>
            O campo telefone deve ter o formato xxxx-xxxxx
        </div>

        <button class="btn btn-primary" ng-click="adicionarContato(contato)" ng-disabled="contatoForm.$invalid">Adiciona Contato</button>
        <!-- <button class="btn btn-primary" ng-click="adicionarContato(contato)" ng-disabled="!contato.nome || !contato.telefone">Adiciona Contato</button> -->
        <!-- <button class="btn btn-danger" ng-click="apagarContatos(contatos)" ng-disabled="!isContatoSelecionado(contatos)">Apagar Contato</button> -->
        <button class="btn btn-danger" ng-click="apagarContatos(contatos)" ng-show="isContatoSelecionado(contatos)">Apagar Contato</button>
    </div>
    <div ng-include="'view/footer.html'"></div>
</body>
</html>
