.jumbotron {
    width: 600px;
    text-align: center;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    box-sizing: content-box;
    padding-right: 20px;
    padding-left: 20px;
}

.table {
    margin-top: 20px;
}

.form {
    margin-bottom: 5px;
}

.selecionado {
    background-color: #e4e7f2 !important;
}
